.y-axis-tick .tick text {
 /* font-family: 'Lato, sans-serif' ;    */
 font-style: normal;   
 font-weight:400;
 font-size: 17px;
 fill: rgba(39, 49, 75, 0.8);
 color: rgba(39, 49, 75, 0.8);
 /* white-space: pre-wrap; */
}

.rect-size {
 translate: 10px 0;
}

.bar-label {
 font-family: 'Lato, sans-serif' ;   
 font-style: normal;   
 font-weight:400;
 font-size: 17px;
 fill: rgba(39, 49, 75, 0.7);
 color: rgba(39, 49, 75, 0.7);
 /* white-space: pre-wrap; */
}

svg {
 overflow: visible;
}

.chartTitle {
    color: rgba(39, 48, 78, 0.80);
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}